@page "/AircraftCrew"
@using Database.Entities
@using Repository.Interfaces
@inject IRepository<Aircraft> AircraftRepository

<h3>AircraftCrew</h3>

<h3 class="text-center mt-4">Aircraft List</h3>

@if (_aircrafts!.Any())
{
    <div class="alert alert-warning text-center" role="alert">
        No aircrafts found.
    </div>
}
else
{
    <div class="container mt-4">
        <table class="table table-hover table-bordered shadow-sm">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Speed</th>
                <th>Altitude</th>
                <th>Fuel</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var aircraft in _aircrafts)
            {
                <tr>
                    <td>@aircraft.AircraftId</td>
                    <td>@aircraft.Name</td>
                    <td>@aircraft.Speed km/h</td>
                    <td>@aircraft.Altitude m</td>
                    <td>@aircraft.Fuel L</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}


@code {
    private List<Aircraft>? _aircrafts;

    protected override async Task OnInitializedAsync()
    {
        _aircrafts = await AircraftRepository.ReadAllAsync();
    }
}
